<section id="brandBlock" class="hero is-success is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        What is your project's name? 
      </h1>
      <p class="control subtitle">
        <input class="input" type="text" ng-model="brandName" placeholder="My projects name is...">
      </p> 
    </div>
  </div>
  <i id="brandScroll" class="fa fa-chevron-circle-down fa-5x clickScroller"></i>

</section>