<section id="colorBlock" class="hero is-fullheight" >
  <h1 class="title" style="padding-top: 15px;">
    {{ brandName }}'s Color
  </h1>
  <h2 class="subtitle">
    Colors are used to are used to....
  </h2>  

  <h2 style="color:{{chosenPrimary}}; font-size: 18px;">Primary color: {{chosenName}}</h2>

  <h2 style="color:{{chosenComplimentary}};font-size: 18px"> Complimentary color: {{complimentaryName}}</h2> 

<div class="hero-content" > 
<h2 class="subtitle" style="font-size: 20px; color: {{textColor}}">
    {{ colorInfo }}
  </h2>   
<div class="container is-fluid">
  
<div class="columns">

  <div class="column" ng-repeat="color in colorPallate">
    <div class="circleBase" ng-mouseenter="$parent.colorInfo = color.info" ng-click="$parent.chosenPrimary = color.color; $parent.chosenName = color.name; $parent.complimentaryName = color.compName; $parent.chosenComplimentary = color.compColor" style="background:{{color.color}};" >
    <p class="hero-content" > {{color.name}}</p>
      </div>    
  </div>
    

</div>      
</div>
</div>
  <i id="colorScroll" style="margin-bottom: 15px;"class="fa fa-chevron-down fa-5x whiteScroller"></i>
</section>