<section class="hero is-fullheight is-dark">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Download your stuff 
      </h1>


<textarea class="textarea">
<!DOCTYPE html>
<html> 
<head>
<meta charset="utf-8">
  <title>{{ brandName }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css">
 <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway|Ubuntu|Slabo+27px|Roboto+Slab|Rokkitt|Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body style="font-family: {{chosenFontFamily}}">

  <header class="header" style="background-color:{{chosenPrimary}}">
  <div class="container">
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#"style="color:white;">
         <i class="fa {{ chosenIcon }}" style="color: {{iconColor}};"></i> &nbsp;{{ brandName }}
      </a>
    </div>  
    <!-- Right side -->
    <div class="header-right header-menu">
      <span class="header-item" >
        <a href="#" style="color:white;">Nav item</a>
      </span>
      <span class="header-item" >
        <a href="#" style="color:white;">Other nav item</a>
      </span>
    </div>
  </div>
</header>

  <section class="hero">
    <div class="hero-content">
      <div class="container">
        <div class="title" >
          {{ brandName }}
        </div>
        <h2 class="subtitle">
          Page subtitle
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
      </div>
    </div>
  </section>
  
  <footer class="footer" style="background-color:{{chosenPrimary}}">
  <div class="container">
    <div class="content is-centered">
      <p style="color:white;">
        This is some really cool footer content. Don't you love cool footer content?
      </p>
      <p>
        <a class="icon" href="YOUR-URL">
          <i class="fa fa-github" style="color:white;"></i>
        </a>
        <a class="icon" href="YOUR-URL">
          <i class="fa fa-linkedin" style="color:white;"></i>
        </a>        
        <a class="icon" href="YOUR-URL">
          <i class="fa fa-twitter" style="color:white;"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>
</textarea>
<br>
<br>
<a class="button is-medium">Click to copy</a>
    </div>  
    </div>
     
      
    
</section>
