<section id="fontBlock" class="hero is-fullheight">
  <h1 class="title" style="padding-top: 15px;">
    {{ brandName }}'s Font
  </h1>
  <h2 class="subtitle">
      Font is used to communicate...
  </h2>  

	<h2 style="font-size: 18px;">Your font: {{chosenFont}}</h2>

  <div class="hero-content">
	<div class="columns">

		<div class="column" ng-repeat="font in fontBook | filter: sansFilter">
			<p class="fontItems" style="font-family: {{font.style}}" ng-click="$parent.chosenFontFamily = font.style; $parent.chosenFont = font.name;"> {{font.name}}</p>
		</div>

	</div>

	<div class="columns">

		<div class="column" ng-repeat="font in fontBook | filter: serifFilter">
			<p class="fontItems" style="font-family: {{font.style}}" ng-click="$parent.chosenFontFamily = font.style; $parent.chosenFont = font.name;"> {{font.name}}</p>
		</div>

	</div>

  </div>
  <i id="fontScroll" style="margin-bottom: 15px;"class="fa fa-chevron-down fa-5x whiteScroller"></i>
</section>