<section class="hero is-warning is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Font 
      </h1>
      <h2 class="subtitle">
        Font is used to communicate...
      </h2>
    </div>
  </div>
  <i class="fa fa-chevron-down fa-5x clickScroller"></i>

  <i class="fa fa-question-circle fa-5x is-text-right learnMore"></i>
</section>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-4by3">
      <img src="http://placehold.it/1280x960">
    </p>
  </div>
  <button class="modal-close"></button>
</div>