 	<title>Colorfontlogo - a design primer for developers</title>
	<meta name="description" content="Colorfontlogo is a design primer for developers. An aid to give a designer's eye to the techincally minded.">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css">
	<link rel='stylesheet' href="/stylesheets/style.css">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
	<script>
	 WebFont.load({
	    google: {
	      families: ['Open Sans', 'Roboto', 'Raleway', 'Ubuntu', 'Slabo 27px', 'Roboto Slab', 'Rokkitt', 'Droid serif', 'Merriweather']
	    }
	  });
	</script>

