 <title></title>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css">
 <link rel='stylesheet' href="/stylesheets/style.css">
 <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway|Ubuntu|Slabo+27px|Roboto+Slab|Rokkitt|Droid+Serif|Varela+Round' rel='stylesheet' type='text/css'>

