<section class="hero is-danger is-fullheight">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Logo 
      </h1>
      <h2 class="subtitle">
        A logo can communicate your brands identity...
      </h2>

      <i id="customIcon" class="fa fa-question-circle"></i>

    </div>
  </div>
  <i class="fa fa-chevron-down fa-5x clickScroller"></i>
</section>