<section class="hero is-dark is-fullheight" style="background-color: {{greeting}};">
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Your finished product! 
      </h1>
      <h2 class="subtitle">
        View your font and color choices in action!
      </h2>
    </div>
  </div>
</section>