<section id="productBlock" class="hero is-fullheight" style="font-family: {{chosenFontFamily}}">
<header class="header" style="background-color:{{chosenPrimary}}; ">
  <div class="container"  >
    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="#"style="color:white;">
         <i class="fa {{ chosenIcon }}" style="color: {{iconColor}};"></i> &nbsp;{{ brandName }}
      </a>
    </div>

    <!-- Right side -->
    <div class="header-right header-menu">
      <span class="header-item" >
        <a href="#" style="color:white;">Nav item</a>
      </span>
      <span class="header-item" >
        <a href="#" style="color:white;">Other nav item</a>
      </span>
    </div>
  </div>
</header>

<section class="hero is-large">
  <div class="hero-content">
    <div class="container">
      <div class="title" >
        Welcome to {{ brandName }}
      </div>
      <h2 class="subtitle">
        <p class="control is-inline" id="productScroll">
        <a class="button">Use this layout!</a>
      </p>
      </h2>
    </div>
  </div>
</section>

  <section class="section">
    <div class="container">

      <div class="columns">
        <div class="column">
          <i class="fa fa-globe" style="color: {{chosenPrimary}}; font-size: 4em"></i>
          <h3 class="title">
          Section
          </h3>
          <p class="subtitle">
            Cornhole yr pop-up chillwave flannel fanny pack YOLO aesthetic organic, portland kale chips master cleanse cray kombucha. Fap retro microdosing 
          </p>
        </div>
        <div class="column">
          <i class="fa fa-paper-plane" style="color: {{chosenPrimary}}; font-size: 4em"></i>
          <h3 class="title">
          Another
          </h3>    
          <p class="subtitle">
          Selvage, messenger bag 8-bit quinoa intelligentsia next level kogi synth. Art party cold-pressed mixtape, hashtag ramps stumptown ennui yuccie squid
          </p>
        </div>
        <div class="column">
          <i class="fa fa-heart" style="color: {{chosenPrimary}}; font-size: 4em"></i>
          <h3 class="title">
          And More
          </h3>
          <p class="subtitle">
          Four dollar toast cliche messenger bag slow-carb, flexitarian drinking vinegar synth umami. Occupy biodiesel craft beer gastropub salvia lo-fi
          </p>
        </div>
      </div>
    </div>
  </section>

<footer class="footer" style="background-color:{{chosenPrimary}}">
  <div class="container">
    <div class="content is-centered">
      <p style="color:white;">
        This is some really cool footer content. Don't you love cool footer content?
      </p>
      <p>
        <a class="icon" href="YOUR-URL">
          <i class="fa fa-github" style="color:white;"></i>
        </a>
        <a class="icon" href="YOUR-URL">
          <i class="fa fa-linkedin" style="color:white;"></i>
        </a>        
        <a class="icon" href="YOUR-URL">
          <i class="fa fa-twitter" style="color:white;"></i>
        </a>
      </p>
    </div>
  </div>
</footer>



</section>