<section class="hero is-primary is-fullheight">
  <div class="hero-content">
    <div class="container">
      <img src="images/logo.png">
      <h1 class="title">
        colorfontlogo
      </h1>
      <h2 class="subtitle">
        Thinking about design so you don't have to...
      </h2>
      <p class="control is-inline" id="getStarted">
        <a class="button is-large" >Get Started!</a>
      </p>
    </div>
  </div>
</section>