<!DOCTYPE html>
<html ng-app>
	<head>
  <% include partials/head %>
	</head>
	<body>

    <% include partials/welcome %>
    <% include partials/color %>
    <% include partials/font %>
    <% include partials/logo %>
    <% include partials/product %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/init.js"></script>

  </body>
	</body>
</html>
